SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/reservation_demo?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=reservation_user
SPRING_DATASOURCE_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
SERVER_PORT=9099
